/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  max-width: 100%;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

/*** Composition ***/
.flow > * + * {
  margin-block-start: var(--flow-space);
}

.flow-lg > * + * {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns:
    [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(
      100% - var(--_min-margin-width) * 2,
      var(--_content-width)
    )
    [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid > *,
.fullwidth > * {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid > .fullwidth {
  grid-column: fullwidth;
}

/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*** MY CSS STARTS HERE***/


button {
  padding: .3rem 1rem;
  &:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-green-400);
    border: 1px solid var(--clr-green-400);
  }
}

.page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav {
  display: none;
  color: var(--clr-green-400);
  padding: .4rem;
  background-color: var(--clr-neutral-100);

  &:hover {
    background-color: var(--clr-green-400);
    color: white;
  }
}

.main-nav {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
  box-shadow: 0px 6px 57px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--clr-neutral-100);
}

.nav-content-container {
  width: 100%;
  margin: 0 10%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  height: 100%;
}

.nav__list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 100%;

    &:hover {
    background-color: var(--clr-accent);
    
    .nav-link {
      color: var(--clr-neutral-100);
      text-decoration: none;
    }
  }


  > a {
    text-transform: uppercase;
    font-weight: var(--fw-500);
    font-size: var(--fs-300);


  }


}

.nav__brand-group {
  display: flex;
  align-items: center;
  height: 100%;

  &:hover {
      background-color: var(--clr-green-400);

      .logo, .brand-name {
      color: var(--clr-neutral-100);
      stroke: var(--clr-neutral-100);

      }
    }

  >a {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;

    
  }
}

.logo {
  fill: none;
  stroke: var(--clr-green-400);
  max-height: 100%;
  padding: 0.5rem;
  max-width: max-content;
}

.brand-name {
  margin-left: 0;
  font-family: Tahoma;
  text-transform: uppercase;
  font-weight: var(--fw-400);
  font-size: var(--fs-300);
  color: var(--clr-green-400);
  line-height: 0.8rem;
  padding: .5rem;
}

.intro {
  /* margin: 0 8rem; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-green-100);
  justify-self: center;

  > h2,
  p {
    width: 60ch;
    padding: 1rem 0;
    
  }
}

.intro__gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "i1 i2 i3 i4"
    "i1 i5 i5 i6";
  height: 35rem;
  max-width: 1000px;
  border: 0.5rem solid var(--clr-neutral-100);
  overflow: hidden;
  box-shadow: var(--border-shadow);
  margin-bottom: 3rem;

  > img {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
  }
}
.ig1 {
  grid-area: i1;
}
.ig2 {
  grid-area: i2;
}
.ig3 {
  grid-area: i3;
}
.ig4 {
  grid-area: i4;
}
.ig5 {
  grid-area: i5;
}
.ig6 {
  grid-area: i6;
}



/*CTA INSIDE HEADER*/

.header__cta {
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.banner__cta--2 {
  background-color: var(--clr-neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
}

.cta__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem 10%;
}

.cta__content--2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.cta__text-section {
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 45ch;
}

.cta__text-section--2 {
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 45ch;
}

.cta__heading {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.cta__btn {
  border-radius: 1.5rem;
  margin-right: 0;
  background-color: var(--clr-green-400);
  width: fit-content;
  border: none;
}
.cta__btn--2 {
  border-radius: 1.5rem;
  margin-right: 0;
  background-color: var(--clr-green-400);
  width: fit-content;
  text-align: center;
  border: none;
  align-self: flex-end;
}

.cta__form {
  width: fit-content;
  height: 2.5rem;

  border: 1px solid var(--clr-neutral-800);
  border-radius: 5rem;
  display: flex;

  > input {
    background-color: inherit;
    border: none;
    justify-self: center;
    align-self: center;
    padding: 0.2rem 0.6rem;
    color: black;
  }
}

.cta__icon-div {
  background-color: var(--clr-green-400);
  height: fit-content;
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  > img {
    padding: 20%;
  }
}

/*LIST GRID WITH CARDS*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-page__h1 {
  margin-top: 4rem;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 10%;
  
}

.list__card {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  padding: 0;
  background-color: var(--clr-neutral-100);
  box-shadow: var(--border-shadow);

  >a {
    height: 100%;
  }

  > img {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit: cover;
  }

  .card__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    height: 100%;
    
    
    
    

    > * {
      padding-top: 0.8rem;
    }

  }

  .card__h2 {
    color: var(--clr-neutral-900);
    font-weight: var(--fw-600);
    padding: .5rem 0;
    font-size: var(--fs-600);
  }

  .card__p {
    color: var(--clr-neutral-900);
    font-size: var(--fs-200);
    height: 6rem;
    padding: .5rem 0;


    
  }

  .author {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    overflow: hidden;
    margin: 1rem 0 0 0;
    bottom: 0;
    

    .avatar-container {
      background-color: var(--clr-accent-light-1);
      border: 1px solid var(--clr-neutral-900);
      border-radius: 30rem;
      width: 3rem;
      overflow: hidden;
      max-width: 3rem;
      height: 3rem;

      > img {
        display: block;
      }
    }

    .author__text-details {
      margin: 1rem;
      display: flex;
      flex-direction: column;

      

      >h3 {
        font-size: var(--fs-200);
        font-weight: var(--fw-600);
      }

      >time {
        color: var(--clr-neutral-400);
        font-size: var(--fs-100);
      }
    }
  }
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 4rem;
  padding: .5rem 0;
  justify-self: flex-start;
  align-self: flex-start;
}

.tag {
  background-color: gray;
  width: max-content;
  height: fit-content;
  border-radius: 5rem;
  padding: 0.2rem 0.4rem;
  text-align: center;
  color: var(--clr-neutral-100);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  font-size: var(--fs-100);
  margin: 0.1rem;
}
.--flower {
  background-color: var(--clr-flower);
}

.--edible {
  background-color: var(--clr-edible);
}

.--green {
  background-color: var(--clr-green);
}

.--robust {
  background-color: var(--clr-robust);
}

.--decorative {
  background-color: var(--clr-decorative);
}

.--colorful {
  background-color: var(--clr-colorful);
}

.--sunloving {
  background-color: var(--clr-sunloving);
}

.--air {
  background-color: var(--clr-air);
}

.--easy {
  background-color: var(--clr-easy);
}

.--fast {
  background-color: var(--clr-fast);
}



.page-footer {
  background-color: var(--clr-green-400);
  color: var(--clr-neutral-100);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 18rem;
}

.footer-content {
  width: 100%;
  height: max-content;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.footer__section-1 {
  display: flex;
  flex-direction: column;
  max-width: 60ch;

  >* {
    padding: .5rem 0;
  }

  .contact-links {
    display: flex;
    flex-direction: column;

    > a {
      color: var(--clr-neutral-100);
      font-weight: var(--fw-500);
    }
  }
}

.footer__section-2 {
  .footer__ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;


  }
  .footer__list-item {
    > a {
      color: var(--clr-neutral-100);
    }
  }
}


@media (max-width: 1024px) {
  .page-header {
    width: 100vw;
    margin: 0;
  }
  .nav-content-container {
    margin: 0;
  }
  .intro {
    >h2, p {
      width: auto;
      padding: 1rem;
      
    }
  }

  .intro__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas:
      "i1 i2 i3"
      "i4 i5 i6";
    height: auto;
    aspect-ratio: 3 / 2;
    width: 100%;
  }

  .list-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin: 0;
  }

    .header__cta {
    flex-direction: row;

    .cta__content {
      
      padding: 2rem .8rem;

      .cta__text-section {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .nav__ul {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .intro {
   width: 100%;

   >h2, p {
    padding: 1rem .3rem;
   }
  }

  .intro__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "i1 i2"
      "i3 i4" 
      "i5 i6";
    height: auto;
    aspect-ratio: 2 / 3;
    width: 90%;
  }

  .header__cta {
    flex-direction: row;

    .cta__content {
      flex-direction: column-reverse;
      padding: .8rem;

      .cta__text-section {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .banner__cta--2 {
    
    .cta__content--2 {
      flex-direction: column-reverse;
      padding: .8rem;
    }

    .cta__text-section--2 {
      text-align: center;
      width: 100%;
      justify-content: center;
      align-items: center;
    
    }

    .cta__btn--2 {
      align-self: center;
      margin-top: 1rem;
    }
  }

  .list-grid {
    grid-template-columns: repeat(1, 1fr);

    .list__card {
      margin-bottom: .5rem;



      .card__p {
        height: auto;
        padding: 0 0 2rem 0;
      }

      .tag-section {
        min-height: auto;
      }
    }
  }

  .footer__section-2 {
    display: none;
  }
}